@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"]</h2>
<p>-------------------------</p>
<div class="myContainerv2">
    <div class="status-message">
        @Model.StatusMessage
    </div>
</div>
